# Key for accessing OpenAI API
OPENAI_API_KEY = To-be-filled-in
# Key for accessing Hugging Faces API
HUGGING_FACES_API_KEY = To-be-filled-in

# Specifications of Travel Info agent A2A endpoint
TRAVEL_INFO_AGENT_A2A_PORT = 8000
TRAVEL_INFO_AGENT_SERVLET_CTX_PATH = "/chat"
# TRAVEL_INFO_AGENT_URL is built as:
# TRAVEL_INFO_AGENT_URL = "http://localhost:" + TRAVEL_INFO_AGENT_A2A_PORT + TRAVEL_INFO_AGENT_SERVLET_CTX_PATH

# Specification of Weather Forecast MCP server endpoint
MCP_SERVER_PORT = 8020
MCP_SERVER_SERVLET_CTX_PATH = "/mcp-weather-forecast"
# MCP_SERVER_URL is built as:
# MCP_SERVER_URL = "http://localhost:" + MCP_SERVER_PORT + MCP_SERVER_SERVLET_CTX_PATH

# SQLAlchemy-compatible URL for a file-based embedded database
DB_URI = "sqlite:///C:/Apps/travelAgent/SQL_DB/cornwall_hotels.db"

# Maximum number of chunck documents retrieved from vectorial database to pass to LLM for synthesis
MAX_DOCS_PASSED_TO_LLM = 4 